/* 名称：007.BuTiScrollBar.Chinese.catcat520 *//* 别名：007.滚动条外观设置㊣ */
/* 更新：2017.05.25 | 08:12 *//* 感谢：整合了 preciousche 的 Blue scroll bar-蓝色滚动条 */
/* 功能：滚动条外观设置 *//*[[SwitchAGENT_SHEET]]*/
/* 适用：Win/*nix 系统 和 FireFox 内核浏览器 *//* i really want this to be global */
/* 网址：https://userstyles.org/styles/100474/007-butiscrollbar-chinese-catcat520 */
/* 帮助：http://xxxxxx *//* 反馈问题需附上 截图 */

/* Chrome */
/* 初始值 */
::-webkit-scrollbar{width: 9px;height: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar:hover{width: 9px;height: 9px;}
/* 用户设置 */
/* 滚动条内轨道 */
::-webkit-scrollbar:vertical{width: /*[[ScrollBarTrackWidth]]*/;background-color: /*[[ScrollBarTrackYColor]]*/;}
::-webkit-scrollbar:horizontal{height: /*[[ScrollBarTrackHeight]]*/;background-color: /*[[ScrollBarTrackXColor]]*/;}
::-webkit-scrollbar:vertical:hover{width: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar:horizontal:hover{height: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar:vertical:active{background-color: #00FFFFFF;}
::-webkit-scrollbar:horizontal:active{background-color: #00FFFFFF;}
::-webkit-scrollbar:vertical:window-inactive{width: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar:horizontal:window-inactive{height: 9px;background-color: #00FFFFFF;}
/* 滚动条方向移动按钮 */
::-webkit-scrollbar-button:vertical:start:decrement{height: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:horizontal:start:decrement{width: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:vertical:end:increment{height: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:horizontal:end:increment{width: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:vertical:start:decrement:hover{height: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:horizontal:start:decrement:hover{width: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:vertical:end:increment:hover{height: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:horizontal:end:increment:hover{width: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:vertical:start:decrement:active{height: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:horizontal:start:decrement:active{width: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:vertical:end:increment:active{height: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:horizontal:end:increment:active{width: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:vertical:start:decrement:window-inactive{height: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:horizontal:start:decrement:window-inactive{width: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:vertical:end:increment:window-inactive{height: 9px;background-color: #00FFFFFF;}
::-webkit-scrollbar-button:horizontal:end:increment:window-inactive{width: 9px;background-color: #00FFFFFF;}
/* 滚动条拖动滑块 */
::-webkit-scrollbar-thumb:vertical{height: 0px;background-color: #999999;-webkit-border-radius: 0px;}
::-webkit-scrollbar-thumb:horizontal{width: 0px;background-color: #CCCCCC;-webkit-border-radius: 0px;}
::-webkit-scrollbar-thumb:vertical:hover{height: 0px;background-color: #00FFFFFF;-webkit-border-radius: 0px;}
::-webkit-scrollbar-thumb:horizontal:hover{width: 0px;background-color: #00FFFFFF;-webkit-border-radius: 0px;}
::-webkit-scrollbar-thumb:vertical:active{height: 0px;background-color: #00FFFFFF;-webkit-border-radius: 0px;}
::-webkit-scrollbar-thumb:horizontal:active{width: 0px;background-color: #00FFFFFF;-webkit-border-radius: 0px;}
::-webkit-scrollbar-thumb:vertical:window-inactive{height: 0px;background-color: #00FFFFFF;-webkit-border-radius: 0px;}
::-webkit-scrollbar-thumb:horizontal:window-inactive{width: 0px;background-color: #00FFFFFF;-webkit-border-radius: 0px;}
/* 滚动条外轨道 */
::-webkit-scrollbar-track-piece:vertical:start:decrement{background-color: #00FFFFFF;}
::-webkit-scrollbar-track-piece:horizontal:start:decrement{background-color: #00FFFFFF;}
::-webkit-scrollbar-track-piece:vertical:end:increment{background-color: #00FFFFFF;}
::-webkit-scrollbar-track-piece:horizontal:end:increment{background-color: #00FFFFFF;}
::-webkit-scrollbar-track-piece:vertical:start:decrement{background-color: #00FFFFFF;}
::-webkit-scrollbar-track-piece:horizontal:start:decrement{background-color: #00FFFFFF;}
::-webkit-scrollbar-track-piece:vertical:end:increment{background-color: #00FFFFFF;}
::-webkit-scrollbar-track-piece:horizontal:end:increment{background-color: #00FFFFFF;}
/* 滚动条右下边角 */
::-webkit-scrollbar-corner{background-color: #00FFFFFF;}
::-webkit-scrollbar-corner:window-inactive{background-color: #00FFFFFF;}

/* FireFox 部分未整理 */
@-moz-document url-prefix(http://),
        url-prefix(https://),
        url("chrome://browser/content/bookmarks/bookmarksPanel.xul"),
        url("chrome://browser/content/browser.xul"),
        url("chrome://browser/content/history/history-panel.xul") {
        /* THIS WHOLE CODE SECTION AUTOHIDES ONLY THE VERTICAL SCROLLBARS OF WEBPAGES */
        scrollbar *
        scrollbar scrollbarbutton { display: none ! important; }
        scrollbar scrollbarbutton { visibility: collapse !important }


        scrollbar[orient="vertical"]{
        background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAACCAYAAABsfz2XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAhSURBVHjaYvj//z8DMvb39/+PLoaMmRhIBAAAAAD//wMAB6Qizv4lfkgAAAAASUVORK5CYII=") ! important;
/*按钮大小/与屏幕边距*/
        -moz-appearance: none !important;
        background-color: transparent !important;
        opacity: 0.55 !important;
        min-width: 8.5px !important;
        max-width: 8.5px !important;
        }

        /*CAN CHANGE SCROLLBAR WIDTH FROM Default 17px (MUST CHANGE BOTH min-width and max-width to exact same px */
        /*Default vertical scrollbar width is 17px */
        scrollbar[orient="vertical"]:hover
        {
        opacity: 1 !important;
        -moz-appearance: none !important;
        background-color: transparent !important;
        min-width: 9px !important;
        max-width: 9px !important;
        }
        /************************************************************************/



        /* button you drag down the strip */

          scrollbar thumb[orient="vertical"]
        {
        background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAnSURBVHjaYmQofPWfgQjwv0+UkYGBgYGJgUQwqmGkaAAAAAD//wMA+/4EFULQY9sAAAAASUVORK5CYII=") ! important;


        -moz-appearance: none !important;
        border-radius: 4px !important;
        min-width: 8px !important;
        max-width: 8px !important;
        border: 1px !important;
        }

        /* HOVER:button you drag down the strip */

          scrollbar thumb[orient="vertical"]:hover

        {background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAnSURBVHjaYmQofPWfgQjwv0+UkYGBgYGJgUQwqmGkaAAAAAD//wMA+/4EFULQY9sAAAAASUVORK5CYII=") ! important;

        
