方正兰亭黑

繁体 
超细黑 FZLanTingHeiT-UL-GB
纤 FZLanTingHeiT-EL-GB
细 FZLanTingHeiT-L-GB
标 FZLanTingHeiT-R-GB
准 FZLanTingHeiT-M-GB
中 FZLanTingHeiT-DB-GB
中粗 FZLanTingHeiT-DB1-GB
粗 FZLanTingHeiT-B-GB
大黑 FZLanTingHeiT-EB-GB
特黑 FZLanTingHeiT-H-GB

简体
超细黑 FZLanTingHeiS-UL-GB
纤 FZLanTingHeiS-EL-GB
细 FZLanTingHeiS-L-GB
标 FZLanTingHeiS-R-GB
准 FZLanTingHeiS-M-GB
中 FZLanTingHeiS-DB-GB
中粗 FZLanTingHeiS-DB1-GB
粗 FZLanTingHeiS-B-GB
大黑 FZLanTingHeiS-EB-GB
特黑 FZLanTingHeiS-H-GB


GBK
超细黑 FZLanTingHei-UL-GBK
纤 FZLanTingHei-EL-GBK
细 FZLanTingHei-L-GBK
标 FZLanTingHei-R-GBK
准 FZLanTingHei-M-GBK
中 FZLanTingHei-DB-GBK
中粗 FZLanTingHeiS-DB1-GBK
粗 FZLanTingHei-B-GBK
大黑 FZLanTingHei-EB-GBK
特黑 FZLanTingHei-H-GBK

GB18030
超细黑 
纤 FZLanTingHei-EL-GB18030
细 FZLanTingHei-L-GB18030
标 FZLanTingHei-R-GB18030
准 FZLanTingHei-M-GB18030
中 FZLanTingHei-DB-GB18030
中粗 FZLanTingHeiS-DB1-GB18030
粗 FZLanTingHei-B-GB18030
大黑 FZLanTingHei-EB-GB18030
特黑 FZLanTingHei-H-GB18030
